* {
	margin: 0; padding: 0;
}
body {
	text-align: left;
	font: 19px Cairo;
	color: #000000;
	background: none;
}
a {
	text-decoration: none;
	color: #015A77;
}
a:hover {
	text-decoration: underline;
	color: #000000;
}
img {
	border: 0;
}

.break {
	font-size: 0;
	width: 0; height: 0;
	clear: both;
}
.alignleft {
	float: left;
	margin: 4px 10px 5px 0;
}
.alignright {
	float: right;
	margin: 4px 0 5px 10px;
}
.aligncenter {
	text-align: center;
}
.hidden {
	display: none;
}

/** BEGIN fundo blog **/
#content {
	width: 1000px;
	float: left;
	background: #fefefe;
	text-align: left;
	
	padding-left: 0px;
}
/** coluna da direita **/
	#content h4, #sidebar h4 {
		color: #000000;
		text-transform: uppercase;
		background: #d2d2d2;
		padding: 5px;
		padding-bottom: 7px;
		font-size: 1.3em;
		float: left;
	}
	#featured {
		border: 1px solid #E9E9E9;
		padding: 7px;
		background-color: #F2F2F1;
		overflow: hidden;
		width: 596px; height: 320px;
	}
	#content .featured img {
		width: 596px;
	}
		#content .featured {
			overflow: hidden;
			position: relative;
			width: 596px; height: 319px;	
			overflow: hidden;
		}
		#content .featured .text {
			
		}
		#content .featured-img {
			margin: 12px 0 0 12px;
		}
		#content .featured-img .text h4 {
			font-size: 1.1em;
			background-image: none;
			margin-bottom: 4px;
			padding: 0;
		}
		#content .featured-img .text h4 a {
			color: #FFFFFF;
			font-weight: bold;
			text-transform: none;
			text-decoration: none;
		}
		#content .featured-img .text p {
			line-height: 1.5em;
			font-size: 1em;
			color: #FFFFFF;
			padding-bottom: 10px;
		}
		#content .featured-img .text .next {
			color: #96A68F;
			font-weight: bold;
			font-size: 0.9em;
			text-transform: uppercase;
		}
			#content .featured-img .text .continue:hover {
				text-decoration: none;
			}
		#content .featured .photo {
				list-style-type: none;
			}
				#content .photo li {
					position: absolute;
					top: 0; left: 0;
					z-index: 0;
				}
				#content .photo li.first {
					z-index: 1;
				}
			#content .featured .text {
				list-style-type: none;
			}
				#content .featured .text li {
					width: 230px; height: 290px;
					position: absolute;
					top: 0; right: -280px;
					padding: 15px;
					color: #ffffff;
					font-family: Verdana;
					background: none;
					z-index: 4;
				}
				#content .featured .text li.second {
					right: 0;
				}
				#content .featured .text li.second {
					right: 0;
				}
		#content .post {
			border-top: 1.2px solid #e0e0e0;
			margin: 8px 55px 0 12px;
			padding-top: 30px;
		}
			#content .post img {
				float: left;
				margin-right: 20px;
				padding: 7px;
				border: 1px solid #E9E9E9;
				background-color: #F2F2F1;
				width: 150px; height: 150px;
			}
			#content .post h1{
				font-size: 1.8em;
				font-family: Cairo;
				font-weight: bold;
				padding-bottom: 16px;
			}
			#content .post h1 a {
				color: #000000;
			}
				#content .post h1 a:hover {
					text-decoration: none;
				}

			#content .post h4{
				font-size: 0.7em;
				font-family: Cairo;
				font-weight: bold;
				padding-bottom: 16px;
			}
			#content .post h1 a {
				color: #000000;
			}
				#content .post h1 a:hover {
					text-decoration: none;
				}
			#content .post p {
				font-family: Cairo;
				color: #000000;
				font-size: 1.5em;
				line-height: 1.6em;
				margin-bottom: 9px;
			}
			#content .post .date {
				float: left;
				
				margin-bottom: 10px;
				font-size: 1.3em;
				font-family: Cairo;
				padding-top: 10px;
			}
				#content .post .date a {
					text-transform: uppercase;
					color: #808080;
					padding: 0 8px;
				}
				#content .post .date a:hover {
					color: #92AB77;
					text-decoration: underline;
				}
			#content .post .comment a {
				float: right;
				color: #FFFFFF;
				padding: 7px 6px 14px 6px;
				text-decoration: none;
				font-size: 0.9em;
				margin-top: 10px;
			}
			#content .navigation {
				margin-top: 70px;
				margin-bottom: 60px;
				margin-left: 12px;
			}
			#content .navigation a {
				border: 1px solid #E1E1E1;
				padding: 8px 9px 6px 9px;
				color: #000000;
				text-decoration: none;
				font-family: Cairo;
			}
				#content .navigation a:hover {
					border: 0;
					padding-left: 10px;
					margin-right: 1px;
				}
/** END content **/

/** BEGIN sidebar **/
#sidebar {
	float: left;
	width: 340px;
	background-color: #F8F8F8;
	text-align: left;
}
	#sidebar h4 {
		margin-left: 15px;
	}
	#sidebar ul {
		list-style-type: none;
		float: left; 
		margin: 12px 0 15px 0;
		padding-left: 22px;
	}
		#sidebar ul li {
			padding: 8px 0;
			float: left;
			width: 150px;
		}
		/** links**/
		#sidebar ul li a {
			color: #212121;
		}
			#sidebar ul li a:hover {
				text-decoration: none;
			}
		#sidebar .category, #sidebar .archive, #sidebar .blogroll, #sidebar .meta, #sidebar .tag, #sidebar .video, #sidebar .flickrs, #sidebar .pop {
			border-bottom: 1px solid #e0e0e0;
			clear: both;
			padding-top: 10px;
		}
			#sidebar .flickrs .flick {
				padding: 10px 0 10px 18px;	
			}
			#sidebar .flickrs img {
				padding: 3px 5px;
			}
			#sidebar .pop {
				padding: 0;
			}
				#sidebar .pop ul li {
					padding: 0;
					clear: both;
					width: 270px;
				}
				#sidebar .pop a {
					color: #000000;
					text-decoration: underline;
					font-weight: bold;
				}
				#sidebar .pop p {
					line-height: 1.3em;
					margin: 8px 0;
				}
		#sidebar .video img {
			padding: 10px 0 20px 14px;
		}
		#sidebar .archive, #sidebar .meta, #sidebar .tag {
			background-color: #EDEDED;
		}
/** END sidebar **/

/** BEGIN footer**/
#footer {
	background-color: #3C403B;
	clear: both;
	color: #FFFFFF;
	font-size: 1.9em;
	padding-left: 28px;
}
	#footer p {
		margin: auto auto;
		padding: 20px 0;
		text-align: left;
		width: 952px;
	}
		#footer a {
			color: #FFFFFF;
		}
			#footer a:hover {
				text-decoration: underline;
			}

/** END footer **/

/** BEGIN miscellaneous **/
#content .postnav {
	clear: both;
	padding: 10px 0;
}
	#content .postnav ul {
		list-style-type: none;
		padding: 10px;
	}
		#content .postnav ul li {
			float: left;
			color: #B5B4BC;
			padding: 4px;
		}
		#content .postnav ul li a {
			color: #636363;
			text-decoration: none;
			display: block;
			padding: 2px 6px;
			border: 1px solid #E2E2E2;
		}
		#content .postnav ul li a:hover {
			border-color: #ffffff;
		}
#content .single {
	padding: 10px;
}
	#content .single p {
		line-height: 1.5em;
		margin-bottom: 10px;
	}
	#content .single ul, #content .single ol {
		list-style-position: inside;
		margin-bottom: 10px;
	}
	#content .single li {
		line-height: 1.5em;
		padding: 2px 0;
	}
	#content .single blockquote {
		padding: 10px 10px 5px;
		margin-bottom: 10px;
		background-color: #eeeeee;
		border-width: 1px 0;
		border-style: solid;
		border-color: #e0e0e0;
	}
	#content .single h3, #content .single h4, #content .single h5, #content .single h6 {
		font-size: 1.2em;
		margin-bottom: 5px;
	}
#comments {
	padding: 10px;
}
	#comments a {
		text-decoration: none;
	}
	#comments p {
		margin-bottom: 10px;
		line-height: 1.6em;
	}
	#comments form {
		
	}
	#comments form p {
		margin-bottom: 5px;
	}
		#comments form input {
			margin-right: 5px;
		}
		#comments form input, textarea {
			border: 1px solid #cccccc;
			font-size: 0.9em;
			font-family: Verdana;
			padding: 4px;
			background-position: 4px 4px;
			background-repeat: no-repeat;
		}
		#comments form input {
			width: 240px;
			border: 1px solid #cccccc;
		}
		#comments form textarea {
			width: 350px;
			padding: 4px 4px !important;
			border: 1px solid #cccccc;
		}
		#comments form button {
			border: 1px solid #a0a0a0;
			font-size: 1.9em;
			font-family: Verdana;
			padding: 2px 6px;
		}
	.commentdetails {
		margin-top: 25px;
	}
	.commentauthor {
		margin-bottom: 5px !important;
		font-weight: bold;
	}
	.commentdate {
		font-size: 0.8em;
		margin-bottom: 5px;
		color: #909090;
	}
	.required {
		color: #e0e0e0;
	}
h4.title {
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 10px;
	color: #000000;
}
.notfound {
	padding: 40px;
}
	.notfound h4 {
		font-size: 1.9px;
		font-weight: normal;
		margin-bottom: 10px;
	}
.flashbox {
	padding: 12px;
}
	.flashbox a {
		color: #000000;
	}

	.layout_breadcrumbs{
		font-size:0,9rem;
		text-decoration:none;color:var(--primary-color)
	}
	.layout_breadcrumbs:hover,
	.layout_breadcrumbs:focus{font-weight:600;text-decoration:none!important;
		color:var(--secondary-color)!important
	}
	.custom-container-breadcrumbs{
		padding-left:20px;padding-right:20px
	}
	@media (max-width:575px)
	{
	.custom-container-breadcrumbs{
		padding-left:10px;padding-right:10px}
	}

/** END miscellaneous **/

/** BEGIN CATALOGO **/

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.catalogo {
    
    position: center;
    height: 500px;
    width: 550px
    background-color: #02344;
}

.left, .right {
    position: absolute;
    top: 10px;
    width: 350px;
    
}

.left {
	align-items: left;
    
}

.right {
    
    align-items: right;
}
