.titulo {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 0px 32px;
  text-align: justify;
  font-size: 16px;
  margin: 4px 2px;
  transition: .2s;
}

.titulo:hover {
  background-color: #aaa;
  color: white;
}


#botao{ text-align: center }
.botaoEnviar{
    position:absolute;
    top: 1400px;
    left: 320px;
    width: 250px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 18px;
}

.button {
  float: right;
  display: inline-block;
  padding: 10px 40px;
  font-size: 20px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;610A79
  outline: none;
  color: #fff;
  background-color: #610A79;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #320D3D;
}

.button:hover {background-color: #9127AF}

.button:active {
  background-color: #531363;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.button2 {
  float: right;
  display: inline-block;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;610A79
  outline: none;
  color: #fff;
  background-color: #676666;
  border: none;
  border-radius: 2px;
  box-shadow: 0 5px #202020;
}

.button2:hover {background-color: #CB2237}

.button2:active {
  background-color: #A00828;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}