commentBox('5763019741069312-proj', {
    backgroundColor: '#000',
    textColor: '#000000'
});

<div id="a2a_kit a2a_kit_size_32 a2a_default_style"></div>
a2a_config.show_menu = {
    position: "static",
    top: "11px",
    left: "0px",
};
